.label {
	-fx-font-size: 12px
}
.text-field {   
     -fx-font-size: 10px
}
.combo {
	 -fx-font-size: 10px
}
.button{
	 -fx-font-size: 10px
}
#titulo,#regMercantil{
	-fx-font-size: 16px;
	-fx-font-weight: bold
}
/* Media query para pantallas más pequeñas */

#entidadEmpresario,#presentante,#datosRegistrales{
	-fx-font-weight: bold;
}
.table-view .column-header-background .label{
    /* -fx-background-color: white;*/
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-font-size:10px     
}

.table-view .table-cell{    
    -fx-font-size:10px         
    /* -fx-text-fill:orange; */
}