.label {
	-fx-font-size: 10px /* Tamaño predeterminado */
}
.text-field {
     -fx-font-size: 8px
}

/* Media query para pantallas más pequeñas */
#titulo,#regMercantil{
	-fx-font-size: 14px;
	-fx-font-weight: bold
}
/* Media query para pantallas más pequeñas */

#entidadEmpresario,#presentante,#datosRegistrales{
	-fx-font-weight: bold
}
.table-view .column-header-background .label{
    /* -fx-background-color: white;*/
    -fx-font-weight:bold;
    -fx-text-fill: black;
    -fx-font-size:8px     
}

.table-view .table-cell{    
    -fx-font-size:8px         
    /* -fx-text-fill:orange; */
}